{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Categoria
        <small>Detalhe</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">            
            <a class="btn btn-default" href="{% url 'app:categoria_new' %}"><span class="fa fa-file-o"></span></a>
            <a class="btn btn-default" href="{% url 'app:categoria_edit' pk=categoria.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'app:categoria_del' pk=categoria.pk %}"><span class="glyphicon glyphicon-trash"></span></a>            
            <a class="btn btn-default" href="{% url 'app:categoria_list' filtro='all' %}"><span class="glyphicon glyphicon-search"></span></a>
            <p></p>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
            <table class="table table-hover" style="width: 100%; max-width: 800px;">
                {{ form.as_table }}
            </table>                    
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}