{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Categoria
        <small>Deleta</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
	
    <div class="box box-primary">            
        <div class="box-body">
        	<div class="form-group divdeleta">
				<form method="post">{% csrf_token %}            						
					<h4>Tem certeza que deseja cancelar a categoria abaixo ?</h4>
					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-ok"></span> </button>
				    <a class="btn btn-default" href="{% url 'app:categoria_detail' pk=categoria.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
				    <p></p>
			    </form>						
		    </div>
        	<div class="divdeleta2">				
				<table class="table table-hover" style="width: 100%; max-width: 800px;">
					{{ form.as_table }}
				</table>			    			
			</div>
        </div>
    </div>      
    
</section><!-- /.content -->	



{% endblock %}