{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Orçamento
        <small>Detalhe</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">            
            <a class="btn btn-default" href="{% url 'app:orcamento_new' %}"><span class="fa fa-file-o"></span></a>
            <a class="btn btn-default" href="{% url 'app:orcamento_edit' pk=orcamento.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'app:orcamento_del' pk=orcamento.pk %}"><span class="glyphicon glyphicon-trash"></span></a>            
            <a class="btn btn-default" href="{% url 'app:orcamento_list' filtro1='all' filtro2='all' %}"><span class="glyphicon glyphicon-search"></span></a>                        
            <p></p>
            <div class="form-group">
                <p class="form-control">
                    <b>Empresa: </b> {{ orcamento.empresa }} &nbsp;&nbsp;
                    <b>Categoria:</b> {{ orcamento.categoria }}   
                </p>
            </div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{% url 'app:orcamento_detail' pk=orcamento.pk %}">Detalhes</a></li>
                <li role="presentation"><a href="{% url 'app:pagamento_list' pk=orcamento.pk %}">Pagamentos</a></li>
                <li role="presentation"><a href="{% url 'app:anexo_list' pk=orcamento.pk %}">Anexos</a></li>
            </ul>
            <p></p>    
            
            <div class="table-responsive">                   
                <table class="table table-hover" style="width: 100%; max-width: 500px;">                
                    <tr><th>Cidade:          </th><td> {{ orcamento.cidade         }}   </td></tr>
                    <tr><th>Endereço:        </th><td> {{ orcamento.endereço        }}  </td></tr>
                    <tr><th>Nome Contato:    </th><td> {{ orcamento.nome_contato    }}  </td></tr>
                    <tr><th>Num Contato:     </th><td> {{ orcamento.num_contato     }}  </td></tr>
                    <tr><th>Valor Total:     </th><td> {{ orcamento.valor_total     }}  </td></tr>
                    <tr><th>Valor Saldo:     </th><td> {{ orcamento.valor_saldo     }}  </td></tr>
                    <tr><th>Valor Multa:     </th><td> {{ orcamento.valor_multa     }}  </td></tr>
                    <tr><th>Forma Pagto:     </th><td> {{ orcamento.forma_pagto     }}  </td></tr>
                    <tr><th>Dt Ult Pagto:    </th><td> {{ orcamento.dt_ult_pagto   }}   </td></tr>
                    <tr><th>Dt Fim Contrato: </th><td> {{ orcamento.dt_fim_contrato}}   </td></tr>
                    <tr><th>Dt Prox Reuniao: </th><td> {{ orcamento.dt_prox_reuniao}}   </td></tr>
                    <tr><th>Observacoes:     </th><td> {{ orcamento.observacoes }}      </td></tr>
                    <tr><th>Assinado:        </th><td> <input type="checkbox" name="id_assinado" id="id_assinado" disabled /></td></tr>
                    <tr><th>Dt Assinado      </th><td> {{ orcamento.dt_assinado }}       </td></tr>
                    <tr><th>Dt Implant       </th><td> {{ orcamento.dt_implant }}       </td></tr>
                    <tr><th>Dt Ult Alter     </th><td> {{ orcamento.dt_ult_alter }}     </td></tr>
                    <tr><th>Usuar Implant    </th><td> {{ orcamento.usuar_implant }}    </td></tr>
                    <tr><th>Usuar Ult Alter  </th><td> {{ orcamento.usuar_ult_alter }}  </td></tr>
                </table>            
            </div>
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('#id_assinado').prop('checked', {{ orcamento.assinado|lower }});
    

</script>
{% endblock javascript %}