{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Orçamento
        <small>Lista</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">
            <form method="POST" action="{% url 'app:orcamento_filtro' %}">{% csrf_token %}            
                <input class="input" pattern="[a-zA-Z0-9]+" type="text" id="input_search" name="input_search" value='{{ filtro1 }}' placeholder="Empresa ...">
                <select class=""  id="id_categ" name="id_categ">                
                    <option value="all">Categoria - Todos</option>                                    
                {% for categ in categoria %}
                
                    <option value="{{ categ.pk }}">{{ categ.nome }}</option>                                    
                {% endfor %}
                </select>                
                <button class="btn btn-default" type="submit" id="btn_filtro"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <br>            
            {% if messages %}                
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>                    
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <h4><i class="icon fa fa-check"></i> Alert!</h4>                    
                {% endif %}
                <ul class="messages">                    
                    <li>{{ message }}</li>                    
                </ul>
            </div>
            {% endfor %}
            {% endif %}
            <table class="table table-hover" style="width: 100%; max-width: 600px;">
				<tr><th>Empresa </th><th>Categoria </th><th>Vl Total</th><th>Vl Saldo</th><th class="hidden-xs">Prox Reuniao </th></tr>
				{% for orcamento in orcamento_list %}
					<tr>
                        <td>{{ orcamento.empresa }}</td>
                        <td>{{ orcamento.categoria }}</td>
                        <td>{{ orcamento.valor_total }}</td>
                        <td>{{ orcamento.valor_saldo }}</td>
                        <td class="hidden-xs">{{ orcamento.dt_prox_reuniao }}</td>
                        <td> <a class="btn btn-default" href="{% url 'app:orcamento_detail' pk=orcamento.pk %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                    </tr>			        
			    {% endfor %}
			</table>

            <ul class="pagination">
                {% if categoria_list.has_previous %}
                    <li><a href="?page=1"><span class="fa fa-angle-double-left"></span></a></li>
                    <li><a href="?page={{ orcamento_list.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-double-left"></span></li>
                    <li class="disabled"><span class="fa fa-angle-left"></span></li>
                {% endif %}
                {% for page in orcamento_list.paginator.page_range %}
                {% if page >= orcamento_list.number|add:"-3" and page < orcamento_list.number %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% ifequal orcamento_list.number page %}
                    <li class="active"><span>{{ orcamento_list.number }}</span></li>
                {% endifequal %}
                
                {% if page <= orcamento_list.number|add:"3" and page > orcamento_list.number %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if orcamento_list.has_next %}
                    <li><a href="?page={{ orcamento_list.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
                    <li><a href="?page={{ orcamento_list.paginator.num_pages }}"><span class="fa fa-angle-double-right"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-right"></span></li>      
                    <li class="disabled"><span class="fa fa-angle-double-right"></span></li>
                {% endif %}                
            </ul>                      
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}


{% block javascript %}

<script type="text/javascript">
    jQuery(document).ready(function(){
        
        $("#id_categ").multiselect({
            //enableFiltering: true,            
            maxHeight: 200,            
        });                    
    });
    $("#id_categ").val("{{ filtro2 }}"); 
</script>
{% endblock javascript %}