{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pagamento
        <small>Cadastro</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">
            <a disabled class="btn btn-default" href="{% url 'app:orcamento_new' %}"><span class="fa fa-file-o"></span></a>
            <a disabled class="btn btn-default" href="{% url 'app:orcamento_edit' pk=orcamento.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a disabled class="btn btn-default" href="{% url 'app:orcamento_del' pk=orcamento.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            <a class="btn btn-default" href="{% url 'app:orcamento_list' filtro1='all' filtro2='all' %}"><span class="glyphicon glyphicon-search"></span></a>
            <p></p>
            <div class="form-group">
                <h3> {{ orcamento.empresa }} - {{ orcamento.categoria }}   </h3>
            </div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a disabled href="{% url 'app:orcamento_detail' pk=orcamento.pk %}">Detalhes</a></li>
                <li role="presentation" class="active"><a disabled href="{% url 'app:pagamento_list' pk=orcamento.pk %}">Pagamentos</a></li>
                <li role="presentation"><a disabled href="{% url 'app:anexo_list' pk=orcamento.pk %}">Anexos</a></li>
            </ul>            
            <p></p>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a class="btn btn-primary" href="{% url 'app:pagamento_list' pk=orcamento.pk %}">Voltar</a>
                <p></p>
                <div class="table-responsive">
                    <table class="table table-hover" style="width: 100%; max-width: 800px;">                       
                        {{ form.as_table }}
                    </table>
                </div>
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a class="btn btn-primary" href="{% url 'app:pagamento_list' pk=orcamento.pk %}">Voltar</a>
            </form>
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}    

{% endblock javascript %}