{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Pagamentos
        <small>Lista</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    

    <div class="box box-primary">            
        <div class="box-body">          
            <form method="GET">
                <input class="input" pattern="[a-zA-Z0-9]+" type="text" id="input_search" name="input_search" value='{{ filtro.filtro1 }}' placeholder="Descricao ...">
                <select class=""  id="id_orcto" name="id_orcto">                
                    <option value="all">Empresa - Todas</option>                                    
                {% for orcto in orcamento %}                
                    <option value="{{ orcto.pk }}">{{ orcto.empresa }}</option>                                    
                {% endfor %}
                </select>                
                <button class="btn btn-default" type="submit" id="btn_filtro"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <table class="table table-hover" style="width: 100%; max-width: 600px;">
                <tr><th>Descricao </th><th>Valor </th><th>Empresa</th></tr>
                {% for pagto in pagamento %}
                    <tr>
                        <td>{{ pagto.descricao }}</td>
                        <td>{{ pagto.valor_pagto }}</td>
                        <td>{{ pagto.orcamento }}</td>
                        <td> <a class="btn btn-default" href="{% url 'app:pagamento_detail' pk=pagto.pk %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
                    </tr>                    
                {% endfor %}
            </table>            

            <ul class="pagination">
                {% if pagamento.has_previous %}
                    <li><a href="{{ filtro.url }}&page=1"><span class="fa fa-angle-double-left"></span></a></li>
                    <li><a href="{{ filtro.url }}&page={{ pagamento.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-double-left"></span></li>
                    <li class="disabled"><span class="fa fa-angle-left"></span></li>
                {% endif %}
                {% for page in pagamento.paginator.page_range %}
                    {% if page >= pagamento.number|add:"-3" and page < pagamento.number %}
                        <li><a href="{{ filtro.url }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% ifequal pagamento.number page %}
                        <li class="active"><span>{{ pagamento.number }}</span></li>
                    {% endifequal %}                    
                    {% if page <= pagamento.number|add:"3" and page > pagamento.number %}
                        <li><a href="{{ filtro.url }}&page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pagamento.has_next %}
                    <li><a href="{{ filtro.url }}&page={{ pagamento.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
                    <li><a href="{{ filtro.url }}&page={{ pagamento.paginator.num_pages }}"><span class="fa fa-angle-double-right"></span></a></li>
                {% else %}
                    <li class="disabled"><span class="fa fa-angle-right"></span></li>      
                    <li class="disabled"><span class="fa fa-angle-double-right"></span></li>
                {% endif %}                
            </ul>
        </div>
    </div>               
</section><!-- /.content -->	

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    jQuery(document).ready(function(){
        
        $("#id_orcto").multiselect({
            enableFiltering: true,            
            maxHeight: 400,            
        });                    
    });
    $("#id_orcto").val("{{ filtro.filtro2 }}"); 
</script>
{% endblock javascript %}