.errorlist{
	color:red;
	font-size:14px;	
}
.successlist{
	color:green;
	font-size:14px;	
}
.helptext{
	font-size: 12px;
	color:gray;
}
.divdeleta {	
	max-width: 500px;		
	background-color: white;		
	border: 3px solid;
	border-color: red;	
	text-align: center;
	border-radius: 10px;
	
}
.divdeleta2 {
	opacity: 0.5;	

}
.table-condensed th{
	color:white;
	background-color: #337ca5;
}
.table-condensed td{
	color: #2a5396;	
}
.nav-tabs {
	background-color: #f7f7f7;	
	color: black;
}